.hotel-card {
    background: white;
    margin-bottom: 25px;
}
.hotel-card__main {
    display: flex;
    align-items: stretch;
}
.hotel-card__main__image-section {
    background-size: cover;
    flex: 2;
}

@media (max-width: 810px) {
    .hotel-card__main {
        flex-direction: column;
    }
    .hotel-card__main__image-section {
        display: table;
        height: 200px;
    }
}