.filter-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: white;
    color: #17317f;
    padding: 8px 10px;
    border-bottom: 1px solid #17317f;
    cursor: pointer;
}
.filter-item:last-child {
    border-bottom: 1px solid white;
}
.filter-item:hover,
.filter-item.selected {
    background: #17317f;
    color: white;
    border-bottom: 1px solid #17317f;
}
.filter-item__icon {
    float: right;
    color: #d4d4d4;
}
.filter-item:hover .filter-item__icon,
.filter-item.selected .filter-item__icon {
    color: white;
}